.creature-img {
  width: 90px;
  z-index: 2;
  position: relative;
  bottom: 50px;

  &.is-enemy {
    width: 190px;
    right: 50px;
    bottom: 150px;
    z-index: 0;
  }
}

.creature-projectile {
  z-index: 1;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 60px;
  animation: shootAttack 1s infinite linear;
  display: none;

  &.should-show-projectile {
    display: block;
  }

}