.creature-container {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: column;
}

.creature-img {
  width: 140px;
  z-index: 2;
  position: relative;

}

.creature-life-bar {
  margin-bottom: 8px;
}

.creature-projectile {
  z-index: 1;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  //right: 80px;
  //bottom: 60px;
  animation: heroAttack 1s infinite linear;
  display: none;

  &.should-show-projectile {
    display: block;
  }

  &.is-enemy {
    animation: enemyAttack 1s infinite linear;
    //bottom: 50px;
    //right: 170px

  }

}

.hit-recoil-left {
  animation: hitRecoilLeft 0.5s ease-out; /* Smooth and quick recoil */
}

.hit-recoil-right {
  animation: hitRecoilRight 0.5s ease-in-out;
}

@keyframes fireball {
  0% {
    transform: scale(0.2) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-220px, 0) scale(2.5);
  }
}

@keyframes simpleEnergyBeam {
  0% {
    transform: scale(0.2) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-250px, 0) scale(1.5);
  }
}

@keyframes isEnemy-simpleEnergyBeam {
  0% {
    transform: scale(0.2) translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(250px, 0px) scale(1.5);
  }
}

@keyframes isEnemy-fireball {
  0% {
    transform: scale(0.2) translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(220px, 0) scale(2.5);
  }
}

@keyframes hitRecoilLeft {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 0);
  }
  50% {
    transform: translate(-15px, 0);
  }
  75% {
    transform: translate(-7px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes hitRecoilRight {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(15px, 0);
  }
  75% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
