.creature-stats {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 160px;
  display: flex;
  flex-direction: column;
  padding: 5px 12px;
  gap: 8px
}

.creature-name {
  font-size: 14px;
  font-weight: bold;
}

.creature-level,
.creature-xp {
  font-size: 12px;
  margin: 0;
}