.fireball {
  animation: shootAttack 1s infinite linear;
}


.shake {
  animation: shake 0.5s ease-in-out;
}

.hit-recoil-left {
  animation: hitRecoilLeft 0.5s ease-out; /* Smooth and quick recoil */
}

@keyframes projectionAttack {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: scale(1.5) rotate(360deg);
    opacity: 0.9;
  }
  50% {
    transform: scale(3) rotate(720deg);
    opacity: 0.8;
  }
  75% {
    transform: scale(1.5) rotate(980deg);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.5) rotate(1440deg);
    opacity: 0.4;
  }
}

@keyframes shootAttack {
  0% {
    transform: scale(0.2) translate(0, 0);

    opacity: 1;
  }

  100% {
    transform: translate(-180px, -180px) scale(3.5);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes hitRecoilLeft {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -5px);
  }
  50% {
    transform: translate(-15px, -10px);
  }
  75% {
    transform: translate(-7px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

